body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:-46px;
  width:375px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2 {
  position:absolute;
  left:-1px;
  top:549px;
  width:375px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:223px;
}
#u4 {
  position:absolute;
  left:-9px;
  top:0px;
  width:384px;
  height:223px;
}
#u5 {
  position:absolute;
  left:2px;
  top:104px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:342px;
}
#u6 {
  position:absolute;
  left:0px;
  top:223px;
  width:373px;
  height:342px;
}
#u7 {
  position:absolute;
  left:2px;
  top:163px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:550px;
  width:374px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:52px;
}
#u10 {
  position:absolute;
  left:47px;
  top:550px;
  width:46px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
}
#u12 {
  position:absolute;
  left:276px;
  top:554px;
  width:38px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14 {
  position:absolute;
  left:0px;
  top:549px;
  width:375px;
  height:1px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u17 {
  position:absolute;
  left:169px;
  top:557px;
  width:27px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u19 {
  position:absolute;
  left:166px;
  top:583px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#A1A1A1;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:10px;
  top:273px;
  width:356px;
  height:129px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:129px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u22 {
  position:absolute;
  left:519px;
  top:322px;
  width:280px;
  height:280px;
}
#u23 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u24 {
  position:absolute;
  left:571px;
  top:280px;
  width:183px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
